{% extends 'layouts/raw.html' %}
{% set cnav = "autocomplete" %}

{% block pageScript %}
	<script>
		var ac = new Autocomplete($('#destination'));
	</script>
{% endblock pageScript %}

{% block mainContent %}
	{{selectBox({
		name: 'destination',
		label: '到着地',
		choices: [
			{ value: "", text: "選択してください" },
			{ value: "1", alt:"AF", text: "アフガニスタン / Afghanistan" },
			{ value: "2", alt:"AX Aaland Aland" , text: "オーランド諸島 / Åland Islands" },
			{ value: "3", alt:"AL", text: "アルバニア / Albania" },
			{ value: "4", alt:"DZ", text: "アルジェリア / Algeria" },
			{ value: "5", alt:"AS" , text: "アメリカ領サモア / American Samoa" },
			{ value: "6", alt:"AD" , text: "アンドラ / Andorra" },
			{ value: "7", alt:"AO", text: "アンゴラ / Angola" },
			{ value: "8", alt:"AI" , text: "アンギラ / Anguilla" },
			{ value: "8", alt:"AQ" , text: "南極大陸 / Antarctica" },
			{ value: "10", alt:"AG" , text: "アンティグア・バーブーダ / Antigua And Barbuda" },
			{ value: "11", alt:"AR", text: "アルゼンチン / Argentina" },
			{ value: "12", alt:"AM", text: "アルメニア / Armenia" },
			{ value: "13", alt:"AW" , text: "アルバ / Aruba" },
			{ value: "14", alt:"AU" , text: "オーストラリア / Australia" },
			{ value: "15", alt:"AT Österreich Osterreich Oesterreich ", text: "オーストリア / Austria" },
			{ value: "16", alt:"AZ", text: "アゼルバイジャン / Azerbaijan" },
			{ value: "17", alt:"BS", text: "バハマ / Bahamas" },
			{ value: "18", alt:"BH", text: "バーレーン / Bahrain" },
			{ value: "19", alt: "BD", text: "バングラデシュ / Bangladesh" },
			{ value: "20", alt:"BB", text: "バルバドス / Barbados" },
			{ value: "21", alt:"BY", text: "ベラルーシ / Belarus" },
			{ value: "22", alt:"BE België Belgie Belgien Belgique" , text: "ベルギー / Belgium" },
			{ value: "23", alt:"BZ", text: "ベリーズ / Belize" },
			{ value: "24", alt:"BJ", text: "ベナン / Benin" },
			{ value: "25", alt:"BM" , text: "バミューダ諸島 / Bermuda" },
			{ value: "26", alt:"BT", text: "ブータン / Bhutan" },
			{ value: "27", alt:"BO", text: "ボリビア / Bolivia" },
			{ value: "28", alt:"BQ", text: "ボネール、シント・ユースタティウスおよびサバ / Bonaire, Sint Eustatius and Saba" },
			{ value: "29", alt:"BA", text: "ボスニア・ヘルツェゴビナ / Bosnia and Herzegovina" },
			{ value: "30", alt:"BW", text: "ボツワナ / Botswana" },
			{ value: "31", alt:"BV", text: "ブーベ島 / Bouvet Island" },
			{ value: "32", alt:"BR Brasil", text: "ブラジル / Brazil" },
			{ value: "33", alt:"IO", text: "イギリス領インド洋地域 / British Indian Ocean Territory" },
			{ value: "34", alt:"BN", text: "ブルネイ・ダルサラーム / Brunei Darussalam" },
			{ value: "35", alt:"BG", text: "ブルガリア / Bulgaria" },
			{ value: "36", alt:"BF", text: "ブルキナファソ / Burkina Faso" },
			{ value: "37", alt:"BI", text: "ブルンジ / Burundi" },
			{ value: "38", alt:"KH", text: "カンボジア / Cambodia" },
			{ value: "39", alt:"CM", text: "カメルーン / Cameroon" },
			{ value: "40", alt:"CA", text: "カナダ / Canada" },
			{ value: "41", alt:"CV", text: "カーボベルデ / Cape Verde" },
			{ value: "42", alt:"KY" , text: "ケイマン諸島 / Cayman Islands" },
			{ value: "43", alt:"CF", text: "中央アフリカ共和国 / Central African Republic" },
			{ value: "44", alt:"TD", text: "チャド / Chad" },
			{ value: "45", alt:"CL", text: "チリ / Chile" },
			{ value: "46" , alt:"CN Zhongguo Zhonghua Peoples Republic", text: "中国 / China" },
			{ value: "47", alt:"CX" , text: "クリスマス島 / Christmas Island" },
			{ value: "48", alt:"CC" , text: "ココス (キーリング) 諸島 / Cocos (Keeling) Islands" },
			{ value: "49", alt:"CO", text: "カンボジア / Colombia" },
			{ value: "50", alt:"KM", text: "コモロ / Comoros" },
			{ value: "51", alt:"CG", text: "コンゴ共和国 / Congo" },
			{ value: "52", alt:"CD", text: "コンゴ民主共和国 / Congo, the Democratic Republic of the" },
			{ value: "53", alt:"CK" , text: "クック諸島 / Cook Islands" },
			{ value: "54", alt:"CR", text: "コスタリカ / Costa Rica" },
			{ value: "55", alt:"CI Cote dIvoire", text: "コートジボワール / Côte d'Ivoire" },
			{ value: "x1Croatia", alt:"HR Hrvatska", text: "クロアチア / Croatia" },
			{ value: "x1Cuba", alt:"CU", text: "キューバ / Cuba" },
			{ value: "x1Curaçao", alt:"CW Curacao", text: "キュラソー島 / Curaçao" },
			{ value: "x1Cyprus", alt:"CY", text: "キプロス / Cyprus" },
			{ value: "x1Czech Republic", alt:"CZ Česká Ceska", text: "チェコ / Czech Republic" },
			{ value: "x1Denmark", alt:"DK Danmark" , text: "デンマーク / Denmark" },
			{ value: "x1Djibouti", alt:"DJ", text: "ジブチ / Djibouti" },
			{ value: "x1Dominica", alt:"DM" , text: "ドミニカ / Dominica" },
			{ value: "x1Dominican Republic", alt:"DO", text: "ドミニカ共和国 / Dominican Republic" },
			{ value: "x1Ecuador", alt:"EC", text: "エクアドル / Ecuador" },
			{ value: "x1Egypt", alt:"EG" , text: "エジプト / Egypt" },
			{ value: "x1El Salvador", alt:"SV", text: "エルサルバドル / El Salvador" },
			{ value: "x1Equatorial Guinea", alt:"GQ", text: "赤道ギニア / Equatorial Guinea" },
			{ value: "x1Eritrea", alt:"ER", text: "エリトリア / Eritrea" },
			{ value: "x1Estonia", alt:"EE Eesti", text: "エストニア / Estonia" },
			{ value: "x1Ethiopia", alt:"ET", text: "エチオピア / Ethiopia" },
			{ value: "x1Falkland Islands (Malvinas)", alt:"FK" , text: "フォークランド (マルビナス) 諸島 / Falkland Islands (Malvinas)" },
			{ value: "x1Faroe Islands", alt:"FO Føroyar Færøerne" , text: "フェロー諸島 / Faroe Islands" },
			{ value: "x1Fiji", alt:"FJ", text: "フィジー / Fiji" },
			{ value: "x1Finland", alt:"FI Suomi", text: "フィンランド / Finland" },
			{ value: "x1France", alt:"FR République française" , text: "フランス / France" },
			{ value: "x1French Guiana", alt:"GF", text: "フランス領ギアナ / French Guiana" },
			{ value: "x1French Polynesia", alt:"PF", text: "フランス領ポリネシア / French Polynesia" },
			{ value: "x1French Southern Territories", alt:"TF", text: "フランス領南方・南極地域 / French Southern Territories" },
			{ value: "x1Gabon", alt:"GA", text: "ガボン / Gabon" },
			{ value: "x1Gambia", alt:"GM", text: "ガンビア / Gambia" },
			{ value: "x1Georgia", alt:"GE", text: "ジョージア / Georgia" },
			{ value: "x1Germany", alt:"DE Bundesrepublik Deutschland", text: "ドイツ / Germany" },
			{ value: "x1Ghana", alt:"GH", text: "ガーナ / Ghana" },
			{ value: "x1Gibraltar", alt:"GI" , text: "Gibraltar" },
			{ value: "x1Greece", alt:"GR" , text: "Greece" },
			{ value: "x1Greenland", alt:"GL grønland" , text: "Greenland" },
			{ value: "x1Grenada", alt:"GD", text: "Grenada" },
			{ value: "x1Guadeloupe", alt:"GP", text: "Guadeloupe" },
			{ value: "x1Guam", alt:"GU", text: "Guam" },
			{ value: "x1Guatemala", alt:"GT", text: "Guatemala" },
			{ value: "x1Guernsey", alt:"GG" , text: "Guernsey" },
			{ value: "x1Guinea", alt:"GN", text: "Guinea" },
			{ value: "x1Guinea-Bissau", alt:"GW", text: "Guinea-Bissau" },
			{ value: "x1Guyana", alt:"GY", text: "Guyana" },
			{ value: "x1Haiti", alt:"HT", text: "Haiti" },
			{ value: "x1Heard Island and McDonald Islands", alt:"HM", text: "Heard Island and McDonald Islands" },
			{ value: "x1Holy See (Vatican City State)", alt:"VA" , text: "Holy See (Vatican City State)" },
			{ value: "x1Honduras", alt:"HN", text: "Honduras" },
			{ value: "x1Hong Kong", alt:"HK", text: "Hong Kong" },
			{ value: "x1Hungary", alt:"HU", text: "Hungary" },
			{ value: "x1Iceland", alt:"IS Island", text: "Iceland" },
			{ value: "x1India", alt:"IN", text: "India" },
			{ value: "x1Indonesia", alt:"ID", text: "Indonesia" },
			{ value: "x1Iran, Islamic Republic of", alt:"IR", text: "Iran, Islamic Republic of" },
			{ value: "x1Iraq", alt:"IQ", text: "Iraq" },
			{ value: "x1Ireland", alt:"IE Éire" , text: "Ireland" },
			{ value: "x1Isle of Man", alt:"IM" , text: "Isle of Man" },
			{ value: "x1Israel", alt:"IL", text: "Israel" },
			{ value: "x1Italy", alt:"IT Italia", text: "Italy" },
			{ value: "x1Jamaica", alt:"JM", text: "Jamaica" },
			{ value: "x1Japan", alt:"JP Nippon Nihon" , text: "Japan" },
			{ value: "x1Jersey", alt:"JE" , text: "Jersey" },
			{ value: "x1Jordan", alt:"JO", text: "Jordan" },
			{ value: "x1Kazakhstan", alt:"KZ", text: "Kazakhstan" },
			{ value: "x1Kenya", alt:"KE", text: "Kenya" },
			{ value: "x1Kiribati", alt:"KI", text: "Kiribati" },
			{ value: "x1Korea, Democratic People's Republic of", alt:"KP North Korea", text: "Korea, Democratic People's Republic of" },
			{ value: "x1Korea, Republic of", alt:"KR South Korea" , text: "Korea, Republic of" },
			{ value: "x1Kuwait", alt:"KW", text: "Kuwait" },
			{ value: "x1Kyrgyzstan", alt:"KG", text: "Kyrgyzstan" },
			{ value: "x1Lao People's Democratic Republic", alt:"LA", text: "Lao People's Democratic Republic" },
			{ value: "x1Latvia", alt:"LV", text: "Latvia" },
			{ value: "x1Lebanon", alt:"LB", text: "Lebanon" },
			{ value: "x1Lesotho", alt:"LS", text: "Lesotho" },
			{ value: "x1Liberia", alt:"LR", text: "Liberia" },
			{ value: "x1Libyan Arab Jamahiriya", alt:"LY", text: "Libyan Arab Jamahiriya" },
			{ value: "x1Liechtenstein", alt:"LI", text: "Liechtenstein" },
			{ value: "x1Lithuania", alt:"LT", text: "Lithuania" },
			{ value: "x1Luxembourg", alt:"LU", text: "Luxembourg" },
			{ value: "x1Macao", alt:"MO", text: "Macao" },
			{ value: "x1Macedonia, The Former Yugoslav Republic Of", alt:"MK", text: "Macedonia, The Former Yugoslav Republic Of" },
			{ value: "x1Madagascar", alt:"MG", text: "Madagascar" },
			{ value: "x1Malawi", alt:"MW", text: "Malawi" },
			{ value: "x1Malaysia", alt:"MY", text: "Malaysia" },
			{ value: "x1Maldives", alt:"MV", text: "Maldives" },
			{ value: "x1Mali", alt:"ML", text: "Mali" },
			{ value: "x1Malta", alt:"MT", text: "Malta" },
			{ value: "x1Marshall Islands", alt:"MH" , text: "Marshall Islands" },
			{ value: "x1Martinique", alt:"MQ", text: "Martinique" },
			{ value: "x1Mauritania", alt:"MR", text: "Mauritania" },
			{ value: "x1Mauritius", alt:"MU", text: "Mauritius" },
			{ value: "x1Mayotte", alt:"YT", text: "Mayotte" },
			{ value: "x1Mexico", alt:"MX Mexicanos" , text: "Mexico" },
			{ value: "x1Micronesia, Federated States of", alt:"FM", text: "Micronesia, Federated States of" },
			{ value: "x1Moldova, Republic of", alt:"MD", text: "Moldova, Republic of" },
			{ value: "x1Monaco", alt:"MC", text: "Monaco" },
			{ value: "x1Mongolia", alt:"MN", text: "Mongolia" },
			{ value: "x1Montenegro", alt:"ME", text: "Montenegro" },
			{ value: "x1Montserrat", alt:"MS" , text: "Montserrat" },
			{ value: "x1Morocco", alt:"MA", text: "Morocco" },
			{ value: "x1Mozambique", alt:"MZ", text: "Mozambique" },
			{ value: "x1Myanmar", alt:"MM", text: "Myanmar" },
			{ value: "x1Namibia", alt:"NA", text: "Namibia" },
			{ value: "x1Nauru", alt:"NR" , text: "Nauru" },
			{ value: "x1Nepal", alt:"NP", text: "Nepal" },
			{ value: "x1Netherlands", alt:"NL Holland Nederland" , text: "Netherlands" },
			{ value: "x1New Caledonia", alt:"NC" , text: "New Caledonia" },
			{ value: "x1New Zealand", alt:"NZ", text: "New Zealand" },
			{ value: "x1Nicaragua", alt:"NI", text: "Nicaragua" },
			{ value: "x1Niger", alt:"NE", text: "Niger" },
			{ value: "x1Nigeria", alt:"NG" , text: "Nigeria" },
			{ value: "x1Niue", alt:"NU" , text: "Niue" },
			{ value: "x1Norfolk Island", alt:"NF" , text: "Norfolk Island" },
			{ value: "x1Northern Mariana Islands", alt:"MP" , text: "Northern Mariana Islands" },
			{ value: "x1Norway", alt:"NO Norge Noreg" , text: "Norway" },
			{ value: "x1Oman", alt:"OM", text: "Oman" },
			{ value: "x1Pakistan", alt:"PK", text: "Pakistan" },
			{ value: "x1Palau", alt:"PW", text: "Palau" },
			{ value: "x1Palestinian Territory, Occupied", alt:"PS", text: "Palestinian Territory, Occupied" },
			{ value: "x1Panama", alt:"PA", text: "Panama" },
			{ value: "x1Papua New Guinea", alt:"PG", text: "Papua New Guinea" },
			{ value: "x1Paraguay", alt:"PY", text: "Paraguay" },
			{ value: "x1Peru", alt:"PE", text: "Peru" },
			{ value: "x1Philippines", alt:"PH" , text: "Philippines" },
			{ value: "x1Pitcairn", alt:"PN" , text: "Pitcairn" },
			{ value: "x1Poland", alt:"PL", text: "Poland" },
			{ value: "x1Portugal", alt:"PT" , text: "Portugal" },
			{ value: "x1Puerto Rico", alt:"PR", text: "Puerto Rico" },
			{ value: "x1Qatar", alt:"QA", text: "Qatar" },
			{ value: "x1Réunion", alt:"RE Reunion", text: "Réunion" },
			{ value: "x1Romania", alt:"RO", text: "Romania" },
			{ value: "x1Russian Federation", alt:"RU Russia Rossiya" , text: "Russian Federation" },
			{ value: "x1Rwanda", alt:"RW", text: "Rwanda" },
			{ value: "x1Saint Barthélemy", alt:"BL" , text: "Saint Barthélemy" },
			{ value: "x1Saint Helena", alt:"SH" , text: "Saint Helena" },
			{ value: "x1Saint Kitts and Nevis", alt:"KN" , text: "Saint Kitts and Nevis" },
			{ value: "x1Saint Lucia", alt:"LC" , text: "Saint Lucia" },
			{ value: "x1Saint Martin (French Part)", alt:"MF" , text: "Saint Martin (French Part)" },
			{ value: "x1Saint Pierre and Miquelon", alt:"PM" , text: "Saint Pierre and Miquelon" },
			{ value: "x1Saint Vincent and the Grenadines", alt:"VC" , text: "Saint Vincent and the Grenadines" },
			{ value: "x1Samoa", alt:"WS", text: "Samoa" },
			{ value: "x1San Marino", alt:"SM", text: "San Marino" },
			{ value: "x1Sao Tome and Principe", alt:"ST", text: "Sao Tome and Principe" },
			{ value: "x1Saudi Arabia", alt:"SA", text: "Saudi Arabia" },
			{ value: "x1Senegal", alt:"SN", text: "Senegal" },
			{ value: "x1Serbia", alt:"RS", text: "Serbia" },
			{ value: "x1Seychelles", alt:"SC" , text: "Seychelles" },
			{ value: "x1Sierra Leone", alt:"SL", text: "Sierra Leone" },
			{ value: "x1Singapore", alt:"SG", text: "Singapore" },
			{ value: "x1Sint Maarten (Dutch Part)", alt:"SX", text: "Sint Maarten (Dutch Part)" },
			{ value: "x1Slovakia", alt:"SK", text: "Slovakia" },
			{ value: "x1Slovenia", alt:"SI", text: "Slovenia" },
			{ value: "x1Solomon Islands", alt:"SB", text: "Solomon Islands" },
			{ value: "x1Somalia", alt:"SO", text: "Somalia" },
			{ value: "x1South Africa", alt:"ZA", text: "South Africa" },
			{ value: "x1South Georgia and the South Sandwich Islands", alt:"GS", text: "South Georgia and the South Sandwich Islands" },
			{ value: "x1South Sudan", alt:"SS", text: "South Sudan" },
			{ value: "x1Spain", alt:"ES España", text: "Spain" },
			{ value: "x1Sri Lanka", alt:"LK", text: "Sri Lanka" },
			{ value: "x1Sudan", alt:"SD", text: "Sudan" },
			{ value: "x1Suriname", alt:"SR", text: "Suriname" },
			{ value: "x1Svalbard and Jan Mayen", alt:"SJ" , text: "Svalbard and Jan Mayen" },
			{ value: "x1Swaziland", alt:"SZ", text: "Swaziland" },
			{ value: "x1Sweden", alt:"SE Sverige" , text: "Sweden" },
			{ value: "x1Switzerland", alt:"CH Swiss Confederation Schweiz Suisse Svizzera Svizra" , text: "Switzerland" },
			{ value: "x1Syrian Arab Republic", alt:"SY Syria", text: "Syrian Arab Republic" },
			{ value: "x1Taiwan, Province of China", alt:"TW", text: "Taiwan, Province of China" },
			{ value: "x1Tajikistan", alt:"TJ", text: "Tajikistan" },
			{ value: "x1Tanzania, United Republic of", alt:"TZ", text: "Tanzania, United Republic of" },
			{ value: "x1Thailand", alt:"TH", text: "Thailand" },
			{ value: "x1Timor-Leste", alt:"TL", text: "Timor-Leste" },
			{ value: "x1Togo", alt:"TG", text: "Togo" },
			{ value: "x1Tokelau", alt:"TK" , text: "Tokelau" },
			{ value: "x1Tonga", alt:"TO", text: "Tonga" },
			{ value: "x1Trinidad and Tobago", alt:"TT", text: "Trinidad and Tobago" },
			{ value: "x1Tunisia", alt:"TN", text: "Tunisia" },
			{ value: "x1Turkey", alt:"TR Türkiye Turkiye", text: "Turkey" },
			{ value: "x1Turkmenistan", alt:"TM", text: "Turkmenistan" },
			{ value: "x1Turks and Caicos Islands", alt:"TC" , text: "Turks and Caicos Islands" },
			{ value: "x1Tuvalu", alt:"TV" , text: "Tuvalu" },
			{ value: "x1Uganda", alt:"UG", text: "Uganda" },
			{ value: "x1Ukraine", alt:"UA Ukrayina", text: "Ukraine" },
			{ value: "x1United Arab Emirates", alt:"AE UAE Emirates", text: "United Arab Emirates" },
			{ value: "x1United Kingdom", alt:"GB Great Britain England UK Wales Scotland Northern Ireland" , text: "United Kingdom" },
			{ value: "x1United States" , alt:"US USA United States of America", text: "United States" },
			{ value: "x1United States Minor Outlying Islands", alt:"UM", text: "United States Minor Outlying Islands" },
			{ value: "x1Uruguay", alt:"UY", text: "Uruguay" },
			{ value: "x1Uzbekistan", alt:"UZ", text: "Uzbekistan" },
			{ value: "x1Vanuatu", alt:"VU", text: "Vanuatu" },
			{ value: "x1Venezuela", alt:"VE", text: "Venezuela" },
			{ value: "x1Vietnam", alt:"VN" , text: "Vietnam" },
			{ value: "x1Virgin Islands, British", alt:"VG" , text: "Virgin Islands, British" },
			{ value: "x1Virgin Islands, U.S.", alt:"VI" , text: "Virgin Islands, U.S." },
			{ value: "x1Wallis and Futuna", alt:"WF" , text: "Wallis and Futuna" },
			{ value: "x1Western Sahara", alt:"EH", text: "Western Sahara" },
			{ value: "x1Yemen", alt:"YE", text: "Yemen" },
			{ value: "x1Zambia", alt:"ZM", text: "Zambia" },
			{ value: "x1Zimbabwe", alt:"ZW", text: "Zimbabwe" }
		]
	})}}

{% endblock mainContent %}
