{% extends 'layouts/raw.html' %}
{% set cnav = "autocomplete" %}

{% block pageScript %}
	<script>
		var ac = new Autocomplete($('#destination'));
	</script>
{% endblock pageScript %}

{% block mainContent %}
	{{selectBox({
		name: 'destination',
		label: '到着地',
		choices: [
			{ value: "", text: "選択してください" },
			{ value: "1", alt:"AF", text: "アフガニスタン / Afghanistan" },
			{ value: "2", alt:"AX Aaland Aland" , text: "オーランド諸島 / Åland Islands" },
			{ value: "3", alt:"AL", text: "アルバニア / Albania" },
			{ value: "4", alt:"DZ", text: "アルジェリア / Algeria" },
			{ value: "5", alt:"AS" , text: "アメリカ領サモア / American Samoa" },
			{ value: "6", alt:"AD" , text: "アンドラ / Andorra" },
			{ value: "7", alt:"AO", text: "アンゴラ / Angola" },
			{ value: "8", alt:"AI" , text: "アンギラ / Anguilla" },
			{ value: "8", alt:"AQ" , text: "南極大陸 / Antarctica" },
			{ value: "10", alt:"AG" , text: "アンティグア・バーブーダ / Antigua And Barbuda" },
			{ value: "11", alt:"AR", text: "アルゼンチン / Argentina" },
			{ value: "12", alt:"AM", text: "アルメニア / Armenia" },
			{ value: "13", alt:"AW" , text: "アルバ / Aruba" },
			{ value: "14", alt:"AU" , text: "オーストラリア / Australia" },
			{ value: "15", alt:"AT Österreich Osterreich Oesterreich ", text: "オーストリア / Austria" },
			{ value: "16", alt:"AZ", text: "アゼルバイジャン / Azerbaijan" },
			{ value: "17", alt:"BS", text: "バハマ / Bahamas" },
			{ value: "18", alt:"BH", text: "バーレーン / Bahrain" },
			{ value: "19", alt: "BD", text: "バングラデシュ / Bangladesh" },
			{ value: "20", alt:"BB", text: "バルバドス / Barbados" },
			{ value: "21", alt:"BY", text: "ベラルーシ / Belarus" },
			{ value: "22", alt:"BE België Belgie Belgien Belgique" , text: "ベルギー / Belgium" },
			{ value: "23", alt:"BZ", text: "ベリーズ / Belize" },
			{ value: "24", alt:"BJ", text: "ベナン / Benin" },
			{ value: "25", alt:"BM" , text: "バミューダ諸島 / Bermuda" },
			{ value: "26", alt:"BT", text: "ブータン / Bhutan" },
			{ value: "27", alt:"BO", text: "ボリビア / Bolivia" },
			{ value: "28", alt:"BQ", text: "ボネール、シント・ユースタティウスおよびサバ / Bonaire, Sint Eustatius and Saba" },
			{ value: "29", alt:"BA", text: "ボスニア・ヘルツェゴビナ / Bosnia and Herzegovina" },
			{ value: "30", alt:"BW", text: "ボツワナ / Botswana" },
			{ value: "31", alt:"BV", text: "ブーベ島 / Bouvet Island" },
			{ value: "32", alt:"BR Brasil", text: "ブラジル / Brazil" },
			{ value: "33", alt:"IO", text: "イギリス領インド洋地域 / British Indian Ocean Territory" },
			{ value: "34", alt:"BN", text: "ブルネイ・ダルサラーム / Brunei Darussalam" },
			{ value: "35", alt:"BG", text: "ブルガリア / Bulgaria" },
			{ value: "36", alt:"BF", text: "ブルキナファソ / Burkina Faso" },
			{ value: "37", alt:"BI", text: "ブルンジ / Burundi" },
			{ value: "38", alt:"KH", text: "カンボジア / Cambodia" },
			{ value: "39", alt:"CM", text: "カメルーン / Cameroon" },
			{ value: "40", alt:"CA", text: "カナダ / Canada" },
			{ value: "41", alt:"CV", text: "カーボベルデ / Cape Verde" },
			{ value: "42", alt:"KY" , text: "ケイマン諸島 / Cayman Islands" },
			{ value: "43", alt:"CF", text: "中央アフリカ共和国 / Central African Republic" },
			{ value: "44", alt:"TD", text: "チャド / Chad" },
			{ value: "45", alt:"CL", text: "チリ / Chile" },
			{ value: "46" , alt:"CN Zhongguo Zhonghua Peoples Republic", text: "中国 / China" },
			{ value: "47", alt:"CX" , text: "クリスマス島 / Christmas Island" },
			{ value: "48", alt:"CC" , text: "ココス (キーリング) 諸島 / Cocos (Keeling) Islands" },
			{ value: "49", alt:"CO", text: "カンボジア / Colombia" },
			{ value: "50", alt:"KM", text: "コモロ / Comoros" },
			{ value: "51", alt:"CG", text: "コンゴ共和国 / Congo" },
			{ value: "52", alt:"CD", text: "コンゴ民主共和国 / Congo, the Democratic Republic of the" },
			{ value: "53", alt:"CK" , text: "クック諸島 / Cook Islands" },
			{ value: "54", alt:"CR", text: "コスタリカ / Costa Rica" },
			{ value: "55", alt:"CI Cote dIvoire", text: "コートジボワール / Côte d'Ivoire" },
			{ value: "x1Croatia", alt:"HR Hrvatska", text: "クロアチア / Croatia" },
			{ value: "x1Cuba", alt:"CU", text: "キューバ / Cuba" },
			{ value: "x1Curaçao", alt:"CW Curacao", text: "キュラソー島 / Curaçao" },
			{ value: "x1Cyprus", alt:"CY", text: "キプロス / Cyprus" },
			{ value: "x1Czech Republic", alt:"CZ Česká Ceska", text: "チェコ / Czech Republic" },
			{ value: "x1Denmark", alt:"DK Danmark" , text: "デンマーク / Denmark" },
			{ value: "x1Djibouti", alt:"DJ", text: "ジブチ / Djibouti" },
			{ value: "x1Dominica", alt:"DM" , text: "ドミニカ / Dominica" },
			{ value: "x1Dominican Republic", alt:"DO", text: "ドミニカ共和国 / Dominican Republic" },
			{ value: "x1Ecuador", alt:"EC", text: "エクアドル / Ecuador" },
			{ value: "x1Egypt", alt:"EG" , text: "エジプト / Egypt" },
			{ value: "x1El Salvador", alt:"SV", text: "エルサルバドル / El Salvador" },
			{ value: "x1Equatorial Guinea", alt:"GQ", text: "赤道ギニア / Equatorial Guinea" },
			{ value: "x1Eritrea", alt:"ER", text: "エリトリア / Eritrea" },
			{ value: "x1Estonia", alt:"EE Eesti", text: "エストニア / Estonia" },
			{ value: "x1Ethiopia", alt:"ET", text: "エチオピア / Ethiopia" },
			{ value: "x1Falkland Islands (Malvinas)", alt:"FK" , text: "フォークランド (マルビナス) 諸島 / Falkland Islands (Malvinas)" },
			{ value: "x1Faroe Islands", alt:"FO Føroyar Færøerne" , text: "フェロー諸島 / Faroe Islands" },
			{ value: "x1Fiji", alt:"FJ", text: "フィジー / Fiji" },
			{ value: "x1Finland", alt:"FI Suomi", text: "フィンランド / Finland" },
			{ value: "x1France", alt:"FR République française" , text: "フランス / France" },
			{ value: "x1French Guiana", alt:"GF", text: "フランス領ギアナ / French Guiana" },
			{ value: "x1French Polynesia", alt:"PF", text: "フランス領ポリネシア / French Polynesia" },
			{ value: "x1French Southern Territories", alt:"TF", text: "フランス領南方・南極地域 / French Southern Territories" },
			{ value: "x1Gabon", alt:"GA", text: "ガボン / Gabon" },
			{ value: "x1Gambia", alt:"GM", text: "ガンビア / Gambia" },
			{ value: "x1Georgia", alt:"GE", text: "ジョージア / Georgia" },
			{ value: "x1Germany", alt:"DE Bundesrepublik Deutschland", text: "ドイツ / Germany" },
			{ value: "x1Ghana", alt:"GH", text: "ガーナ / Ghana" },
			{ value: "x1Gibraltar", alt:"GI" , text: "ジブラルタル / Gibraltar" },
			{ value: "x1Greece", alt:"GR" , text: "ギリシャ / Greece" },
			{ value: "x1Greenland", alt:"GL grønland" , text: "グリーンランド / Greenland" },
			{ value: "x1Grenada", alt:"GD", text: "グレナダ / Grenada" },
			{ value: "x1Guadeloupe", alt:"GP", text: "グアドループ / Guadeloupe" },
			{ value: "x1Guam", alt:"GU", text: "グアム / Guam" },
			{ value: "x1Guatemala", alt:"GT", text: "グアテマラ / Guatemala" },
			{ value: "x1Guernsey", alt:"GG" , text: "ガーンジー / Guernsey" },
			{ value: "x1Guinea", alt:"GN", text: "ギニア / Guinea" },
			{ value: "x1Guinea-Bissau", alt:"GW", text: "ギニアビサウ / Guinea-Bissau" },
			{ value: "x1Guyana", alt:"GY", text: "ガイアナ / Guyana" },
			{ value: "x1Haiti", alt:"HT", text: "ハイチ / Haiti" },
			{ value: "x1Heard Island and McDonald Islands", alt:"HM", text: "ハード島とマクドナルド諸島 / Heard Island and McDonald Islands" },
			{ value: "x1Holy See (Vatican City State)", alt:"VA" , text: "ローマ教皇庁 (バチカン市国) / Holy See (Vatican City State)" },
			{ value: "x1Honduras", alt:"HN", text: "ホンジュラス / Honduras" },
			{ value: "x1Hong Kong", alt:"HK", text: "香港 / Hong Kong" },
			{ value: "x1Hungary", alt:"HU", text: "ハンガリー / Hungary" },
			{ value: "x1Iceland", alt:"IS Island", text: "アイスランド / Iceland" },
			{ value: "x1India", alt:"IN", text: "インド / India" },
			{ value: "x1Indonesia", alt:"ID", text: "インドネシア / Indonesia" },
			{ value: "x1Iran, Islamic Republic of", alt:"IR", text: "イラン / Iran, Islamic Republic of" },
			{ value: "x1Iraq", alt:"IQ", text: "イラク / Iraq" },
			{ value: "x1Ireland", alt:"IE Éire" , text: "アイルランド / Ireland" },
			{ value: "x1Isle of Man", alt:"IM" , text: "マン島 / Isle of Man" },
			{ value: "x1Israel", alt:"IL", text: "イスラエル / Israel" },
			{ value: "x1Italy", alt:"IT Italia", text: "イタリア / Italy" },
			{ value: "x1Jamaica", alt:"JM", text: "ジャマイカ / Jamaica" },
			{ value: "x1Japan", alt:"JP Nippon Nihon" , text: "日本 / Japan" },
			{ value: "x1Jersey", alt:"JE" , text: "ジャージー / Jersey" },
			{ value: "x1Jordan", alt:"JO", text: "ヨルダン / Jordan" },
			{ value: "x1Kazakhstan", alt:"KZ", text: "カザフスタン / Kazakhstan" },
			{ value: "x1Kenya", alt:"KE", text: "ケニア / Kenya" },
			{ value: "x1Kiribati", alt:"KI", text: "キリバス / Kiribati" },
			{ value: "x1Korea, Democratic People's Republic of", alt:"KP North Korea", text: "北朝鮮 / Korea, Democratic People's Republic of" },
			{ value: "x1Korea, Republic of", alt:"KR South Korea" , text: "韓国 / Korea, Republic of" },
			{ value: "x1Kuwait", alt:"KW", text: "クウェート / Kuwait" },
			{ value: "x1Kyrgyzstan", alt:"KG", text: "キルギス / Kyrgyzstan" },
			{ value: "x1Lao People's Democratic Republic", alt:"LA", text: "ラオス / Lao People's Democratic Republic" },
			{ value: "x1Latvia", alt:"LV", text: "ラトビア / Latvia" },
			{ value: "x1Lebanon", alt:"LB", text: "レバノン / Lebanon" },
			{ value: "x1Lesotho", alt:"LS", text: "レソト / Lesotho" },
			{ value: "x1Liberia", alt:"LR", text: "リベリア / Liberia" },
			{ value: "x1Libyan Arab Jamahiriya", alt:"LY", text: "リビア / Libyan Arab Jamahiriya" },
			{ value: "x1Liechtenstein", alt:"LI", text: "リヒテンシュタイン / Liechtenstein" },
			{ value: "x1Lithuania", alt:"LT", text: "リトアニア / Lithuania" },
			{ value: "x1Luxembourg", alt:"LU", text: "ルクセンブルク / Luxembourg" },
			{ value: "x1Macao", alt:"MO", text: "マカオ / Macao" },
			{ value: "x1Macedonia, The Former Yugoslav Republic Of", alt:"MK", text: "北マケドニア / Macedonia, The Former Yugoslav Republic Of" },
			{ value: "x1Madagascar", alt:"MG", text: "マダガスカル / Madagascar" },
			{ value: "x1Malawi", alt:"MW", text: "マラウイ / Malawi" },
			{ value: "x1Malaysia", alt:"MY", text: "マレーシア / Malaysia" },
			{ value: "x1Maldives", alt:"MV", text: "モルディブ / Maldives" },
			{ value: "x1Mali", alt:"ML", text: "マリ / Mali" },
			{ value: "x1Malta", alt:"MT", text: "マルタ / Malta" },
			{ value: "x1Marshall Islands", alt:"MH" , text: "マーシャル諸島 / Marshall Islands" },
			{ value: "x1Martinique", alt:"MQ", text: "マルティニーク / Martinique" },
			{ value: "x1Mauritania", alt:"MR", text: "モーリタニア / Mauritania" },
			{ value: "x1Mauritius", alt:"MU", text: "モーリシャス / Mauritius" },
			{ value: "x1Mayotte", alt:"YT", text: "マヨット / Mayotte" },
			{ value: "x1Mexico", alt:"MX Mexicanos" , text: "メキシコ / Mexico" },
			{ value: "x1Micronesia, Federated States of", alt:"FM", text: "ミクロネシア連邦 / Micronesia, Federated States of" },
			{ value: "x1Moldova, Republic of", alt:"MD", text: "モルドバ / Moldova, Republic of" },
			{ value: "x1Monaco", alt:"MC", text: "モナコ / Monaco" },
			{ value: "x1Mongolia", alt:"MN", text: "モンゴル / Mongolia" },
			{ value: "x1Montenegro", alt:"ME", text: "モンテネグロ / Montenegro" },
			{ value: "x1Montserrat", alt:"MS" , text: "モントセラト / Montserrat" },
			{ value: "x1Morocco", alt:"MA", text: "モロッコ / Morocco" },
			{ value: "x1Mozambique", alt:"MZ", text: "モザンビーク / Mozambique" },
			{ value: "x1Myanmar", alt:"MM", text: "ミャンマー / Myanmar" },
			{ value: "x1Namibia", alt:"NA", text: "ナミビア / Namibia" },
			{ value: "x1Nauru", alt:"NR" , text: "ナウル / Nauru" },
			{ value: "x1Nepal", alt:"NP", text: "ネパール / Nepal" },
			{ value: "x1Netherlands", alt:"NL Holland Nederland" , text: "オランダ / Netherlands" },
			{ value: "x1New Caledonia", alt:"NC" , text: "ニューカレドニア / New Caledonia" },
			{ value: "x1New Zealand", alt:"NZ", text: "ニュージーランド / New Zealand" },
			{ value: "x1Nicaragua", alt:"NI", text: "ニカラグア / Nicaragua" },
			{ value: "x1Niger", alt:"NE", text: "ニジェール / Niger" },
			{ value: "x1Nigeria", alt:"NG" , text: "ナイジェリア / Nigeria" },
			{ value: "x1Niue", alt:"NU" , text: "ニウエ / Niue" },
			{ value: "x1Norfolk Island", alt:"NF" , text: "ノーフォーク島 / Norfolk Island" },
			{ value: "x1Northern Mariana Islands", alt:"MP" , text: "北マリアナ諸島 / Northern Mariana Islands" },
			{ value: "x1Norway", alt:"NO Norge Noreg" , text: "ノルウェー / Norway" },
			{ value: "x1Oman", alt:"OM", text: "オマーン / Oman" },
			{ value: "x1Pakistan", alt:"PK", text: "パキスタン / Pakistan" },
			{ value: "x1Palau", alt:"PW", text: "パラオ / Palau" },
			{ value: "x1Palestinian Territory, Occupied", alt:"PS", text: "パレスチナ自治区 / Palestinian Territory, Occupied" },
			{ value: "x1Panama", alt:"PA", text: "パナマ / Panama" },
			{ value: "x1Papua New Guinea", alt:"PG", text: "パプアニューギニア / Papua New Guinea" },
			{ value: "x1Paraguay", alt:"PY", text: "パラグアイ / Paraguay" },
			{ value: "x1Peru", alt:"PE", text: "ペルー / Peru" },
			{ value: "x1Philippines", alt:"PH" , text: "フィリピン / Philippines" },
			{ value: "x1Pitcairn", alt:"PN" , text: "ピトケアン諸島 / Pitcairn" },
			{ value: "x1Poland", alt:"PL", text: "ポーランド / Poland" },
			{ value: "x1Portugal", alt:"PT" , text: "ポルトガル / Portugal" },
			{ value: "x1Puerto Rico", alt:"PR", text: "プエルトリコ / Puerto Rico" },
			{ value: "x1Qatar", alt:"QA", text: "カタール / Qatar" },
			{ value: "x1Réunion", alt:"RE Reunion", text: "レユニオン / Réunion" },
			{ value: "x1Romania", alt:"RO", text: "ルーマニア / Romania" },
			{ value: "x1Russian Federation", alt:"RU Russia Rossiya" , text: "ロシア / Russian Federation" },
			{ value: "x1Rwanda", alt:"RW", text: "ルワンダ / Rwanda" },
			{ value: "x1Saint Barthélemy", alt:"BL" , text: "サン・バルテルミー島 / Saint Barthélemy" },
			{ value: "x1Saint Helena", alt:"SH" , text: "セントヘレナ / Saint Helena" },
			{ value: "x1Saint Kitts and Nevis", alt:"KN" , text: "セントクリストファー・ネービス / Saint Kitts and Nevis" },
			{ value: "x1Saint Lucia", alt:"LC" , text: "セントルシア / Saint Lucia" },
			{ value: "x1Saint Martin (French Part)", alt:"MF" , text: "サン・マルタン / Saint Martin (French Part)" },
			{ value: "x1Saint Pierre and Miquelon", alt:"PM" , text: "サンピエール島・ミクロン島 / Saint Pierre and Miquelon" },
			{ value: "x1Saint Vincent and the Grenadines", alt:"VC" , text: "セントビンセントおよびグレナディーン諸島 / Saint Vincent and the Grenadines" },
			{ value: "x1Samoa", alt:"WS", text: "サモア / Samoa" },
			{ value: "x1San Marino", alt:"SM", text: "サンマリノ / San Marino" },
			{ value: "x1Sao Tome and Principe", alt:"ST", text: "サントメ・プリンシペ / Sao Tome and Principe" },
			{ value: "x1Saudi Arabia", alt:"SA", text: "サウジアラビア / Saudi Arabia" },
			{ value: "x1Senegal", alt:"SN", text: "セネガル / Senegal" },
			{ value: "x1Serbia", alt:"RS", text: "セルビア / Serbia" },
			{ value: "x1Seychelles", alt:"SC" , text: "セーシェル / Seychelles" },
			{ value: "x1Sierra Leone", alt:"SL", text: "シエラレオネ / Sierra Leone" },
			{ value: "x1Singapore", alt:"SG", text: "シンガポール / Singapore" },
			{ value: "x1Sint Maarten (Dutch Part)", alt:"SX", text: "シント・マールテン / Sint Maarten (Dutch Part)" },
			{ value: "x1Slovakia", alt:"SK", text: "スロバキア / Slovakia" },
			{ value: "x1Slovenia", alt:"SI", text: "スロベニア / Slovenia" },
			{ value: "x1Solomon Islands", alt:"SB", text: "ソロモン諸島 / Solomon Islands" },
			{ value: "x1Somalia", alt:"SO", text: "ソマリア / Somalia" },
			{ value: "x1South Africa", alt:"ZA", text: "南アフリカ / South Africa" },
			{ value: "x1South Georgia and the South Sandwich Islands", alt:"GS", text: "サウスジョージア・サウスサンドウィッチ諸島 / South Georgia and the South Sandwich Islands" },
			{ value: "x1South Sudan", alt:"SS", text: "南スーダン / South Sudan" },
			{ value: "x1Spain", alt:"ES España", text: "スペイン / Spain" },
			{ value: "x1Sri Lanka", alt:"LK", text: "スリランカ / Sri Lanka" },
			{ value: "x1Sudan", alt:"SD", text: "スーダン / Sudan" },
			{ value: "x1Suriname", alt:"SR", text: "スリナム / Suriname" },
			{ value: "x1Svalbard and Jan Mayen", alt:"SJ" , text: "スヴァールバル諸島およびヤンマイエン島 / Svalbard and Jan Mayen" },
			{ value: "x1Swaziland", alt:"SZ", text: "エスワティニ / Swaziland" },
			{ value: "x1Sweden", alt:"SE Sverige" , text: "スウェーデン / Sweden" },
			{ value: "x1Switzerland", alt:"CH Swiss Confederation Schweiz Suisse Svizzera Svizra" , text: "スイス / Switzerland" },
			{ value: "x1Syrian Arab Republic", alt:"SY Syria", text: "シリア / Syrian Arab Republic" },
			{ value: "x1Taiwan, Province of China", alt:"TW", text: "台湾 / Taiwan" },
			{ value: "x1Tajikistan", alt:"TJ", text: "タジキスタン / Tajikistan" },
			{ value: "x1Tanzania, United Republic of", alt:"TZ", text: "タンザニア / Tanzania, United Republic of" },
			{ value: "x1Thailand", alt:"TH", text: "タイ / Thailand" },
			{ value: "x1Timor-Leste", alt:"TL", text: "東ティモール / Timor-Leste" },
			{ value: "x1Togo", alt:"TG", text: "トーゴ / Togo" },
			{ value: "x1Tokelau", alt:"TK" , text: "トケラウ / Tokelau" },
			{ value: "x1Tonga", alt:"TO", text: "トンガ / Tonga" },
			{ value: "x1Trinidad and Tobago", alt:"TT", text: "トリニダード・ドバゴ / Trinidad and Tobago" },
			{ value: "x1Tunisia", alt:"TN", text: "チュニジア / Tunisia" },
			{ value: "x1Turkey", alt:"TR Türkiye Turkiye", text: "トルコ / Turkey" },
			{ value: "x1Turkmenistan", alt:"TM", text: "トルクメニスタン / Turkmenistan" },
			{ value: "x1Turks and Caicos Islands", alt:"TC" , text: "タークス・カイコス諸島 / Turks and Caicos Islands" },
			{ value: "x1Tuvalu", alt:"TV" , text: "ツバル / Tuvalu" },
			{ value: "x1Uganda", alt:"UG", text: "ウガンダ / Uganda" },
			{ value: "x1Ukraine", alt:"UA Ukrayina", text: "ウクライナ / Ukraine" },
			{ value: "x1United Arab Emirates", alt:"AE UAE Emirates", text: "アラブ首長国連邦 / United Arab Emirates" },
			{ value: "x1United Kingdom", alt:"GB Great Britain England UK Wales Scotland Northern Ireland" , text: "イギリス / United Kingdom" },
			{ value: "x1United States" , alt:"US USA United States of America", text: "アメリカ合衆国 / United States" },
			{ value: "x1United States Minor Outlying Islands", alt:"UM", text: "合衆国領有小離島 / United States Minor Outlying Islands" },
			{ value: "x1Uruguay", alt:"UY", text: "ウルグアイ / Uruguay" },
			{ value: "x1Uzbekistan", alt:"UZ", text: "ウズベキスタン / Uzbekistan" },
			{ value: "x1Vanuatu", alt:"VU", text: "バヌアツ / Vanuatu" },
			{ value: "x1Venezuela", alt:"VE", text: "ベネズエラ / Venezuela" },
			{ value: "x1Vietnam", alt:"VN" , text: "ベトナム / Vietnam" },
			{ value: "x1Virgin Islands, British", alt:"VG" , text: "イギリス領バージン諸島 / Virgin Islands, British" },
			{ value: "x1Virgin Islands, U.S.", alt:"VI" , text: "アメリカ領ヴァージン諸島 / Virgin Islands, U.S." },
			{ value: "x1Wallis and Futuna", alt:"WF" , text: "ウォリス・フツナ / Wallis and Futuna" },
			{ value: "x1Western Sahara", alt:"EH", text: "西サハラ / Western Sahara" },
			{ value: "x1Yemen", alt:"YE", text: "イエメン / Yemen" },
			{ value: "x1Zambia", alt:"ZM", text: "ザンビア / Zambia" },
			{ value: "x1Zimbabwe", alt:"ZW", text: "ジンバブエ / Zimbabwe" }
		]
	})}}

{% endblock mainContent %}
