{% extends 'layouts/raw.html' %}
{% set cnav = "autocomplete" %}

{% block pageScript %}
	<script>
		var ac = new Autocomplete($('#destination'));
	</script>
{% endblock pageScript %}

{% block mainContent %}
	{{selectBox({
		name: 'destination',
		label: '到着地',
		choices: [
			{ value: "", text: "選択してください" },
			{ value: "1", alt:"AF あふがにすたん", text: "アフガニスタン / Afghanistan" },
			{ value: "2", alt:"AX Aaland Aland おーらんどしょとう" , text: "オーランド諸島 / Åland Islands" },
			{ value: "3", alt:"AL あるばにあ", text: "アルバニア / Albania" },
			{ value: "4", alt:"DZ あるじぇりあ", text: "アルジェリア / Algeria" },
			{ value: "5", alt:"AS あめりかりょうさもあ" , text: "アメリカ領サモア / American Samoa" },
			{ value: "6", alt:"AD あんどら" , text: "アンドラ / Andorra" },
			{ value: "7", alt:"AO あんごら", text: "アンゴラ / Angola" },
			{ value: "8", alt:"AI あんぎら" , text: "アンギラ / Anguilla" },
			{ value: "9", alt:"AQ なんきょくたいりく" , text: "南極大陸 / Antarctica" },
			{ value: "10", alt:"AG あんてぃぐあ・ばーぶーだ" , text: "アンティグア・バーブーダ / Antigua And Barbuda" },
			{ value: "11", alt:"AR あるぜんちん", text: "アルゼンチン / Argentina" },
			{ value: "12", alt:"AM あるめにあ", text: "アルメニア / Armenia" },
			{ value: "13", alt:"AW あるば" , text: "アルバ / Aruba" },
			{ value: "14", alt:"AU おーすとらりあ" , text: "オーストラリア / Australia" },
			{ value: "15", alt:"AT Österreich Osterreich Oesterreich おーすとりあ", text: "オーストリア / Austria" },
			{ value: "16", alt:"AZ あぜるばいじゃん", text: "アゼルバイジャン / Azerbaijan" },
			{ value: "17", alt:"BS ばはま", text: "バハマ / Bahamas" },
			{ value: "18", alt:"BH ばーれーん", text: "バーレーン / Bahrain" },
			{ value: "19", alt: "BD ばんぐらでしゅ", text: "バングラデシュ / Bangladesh" },
			{ value: "20", alt:"BB ばるばどす", text: "バルバドス / Barbados" },
			{ value: "21", alt:"BY べらるーし", text: "ベラルーシ / Belarus" },
			{ value: "22", alt:"BE België Belgie Belgien Belgique べるぎー" , text: "ベルギー / Belgium" },
			{ value: "23", alt:"BZ べりーず", text: "ベリーズ / Belize" },
			{ value: "24", alt:"BJ べなん", text: "ベナン / Benin" },
			{ value: "25", alt:"BM ばみゅーだしょとう" , text: "バミューダ諸島 / Bermuda" },
			{ value: "26", alt:"BT ぶーたん", text: "ブータン / Bhutan" },
			{ value: "27", alt:"BO ぼりびあ", text: "ボリビア / Bolivia" },
			{ value: "28", alt:"BQ ぼねーる、しんと・ゆーすたてぃうすおよびさば", text: "ボネール、シント・ユースタティウスおよびサバ / Bonaire, Sint Eustatius and Saba" },
			{ value: "29", alt:"BA ぼすにあ・へるつぇごびな", text: "ボスニア・ヘルツェゴビナ / Bosnia and Herzegovina" },
			{ value: "30", alt:"BW ぼつわな", text: "ボツワナ / Botswana" },
			{ value: "31", alt:"BV ぶーべとう", text: "ブーベ島 / Bouvet Island" },
			{ value: "32", alt:"BR Brasil ぶらじる", text: "ブラジル / Brazil" },
			{ value: "33", alt:"IO いぎりすりょういんどようちいき", text: "イギリス領インド洋地域 / British Indian Ocean Territory" },
			{ value: "34", alt:"BN ぶるねい・だるさらーむ", text: "ブルネイ・ダルサラーム / Brunei Darussalam" },
			{ value: "35", alt:"BG ぶるがりあ", text: "ブルガリア / Bulgaria" },
			{ value: "36", alt:"BF ぶるきなふぁそ", text: "ブルキナファソ / Burkina Faso" },
			{ value: "37", alt:"BI ぶるんじ", text: "ブルンジ / Burundi" },
			{ value: "38", alt:"KH かんぼじあ", text: "カンボジア / Cambodia" },
			{ value: "39", alt:"CM かめるーん", text: "カメルーン / Cameroon" },
			{ value: "40", alt:"CA かなだ", text: "カナダ / Canada" },
			{ value: "41", alt:"CV かーぼべるで", text: "カーボベルデ / Cape Verde" },
			{ value: "42", alt:"KY けいまんしょとう" , text: "ケイマン諸島 / Cayman Islands" },
			{ value: "43", alt:"CF ちゅうおうあふりかきょうわこく", text: "中央アフリカ共和国 / Central African Republic" },
			{ value: "44", alt:"TD ちゃど", text: "チャド / Chad" },
			{ value: "45", alt:"CL ちり", text: "チリ / Chile" },
			{ value: "46" , alt:"CN Zhongguo Zhonghua Peoples Republic ちゅうごく", text: "中国 / China" },
			{ value: "47", alt:"CX くりすますとう" , text: "クリスマス島 / Christmas Island" },
			{ value: "48", alt:"CC ここす (きーりんぐ) しょとう" , text: "ココス (キーリング) 諸島 / Cocos (Keeling) Islands" },
			{ value: "49", alt:"CO かんぼじあ", text: "カンボジア / Colombia" },
			{ value: "50", alt:"KM こもろ", text: "コモロ / Comoros" },
			{ value: "51", alt:"CG こんごきょうわこく", text: "コンゴ共和国 / Congo" },
			{ value: "52", alt:"CD こんごみんしゅきょうわこく", text: "コンゴ民主共和国 / Congo, the Democratic Republic of the" },
			{ value: "53", alt:"CK くっくしょとう" , text: "クック諸島 / Cook Islands" },
			{ value: "54", alt:"CR こすたりか", text: "コスタリカ / Costa Rica" },
			{ value: "55", alt:"CI Cote dIvoire こーとじぼわーる", text: "コートジボワール / Côte d'Ivoire" },
			{ value: "x1Croatia", alt:"HR Hrvatska くろあちあ", text: "クロアチア / Croatia" },
			{ value: "x1Cuba", alt:"CU きゅーば", text: "キューバ / Cuba" },
			{ value: "x1Curaçao", alt:"CW Curacao きゅらそーとう", text: "キュラソー島 / Curaçao" },
			{ value: "x1Cyprus", alt:"CY きぷろす", text: "キプロス / Cyprus" },
			{ value: "x1Czech Republic", alt:"CZ Česká Ceska ちぇこ", text: "チェコ / Czech Republic" },
			{ value: "x1Denmark", alt:"DK Danmark でんまーく" , text: "デンマーク / Denmark" },
			{ value: "x1Djibouti", alt:"DJ じぶち", text: "ジブチ / Djibouti" },
			{ value: "x1Dominica", alt:"DM どみにか" , text: "ドミニカ / Dominica" },
			{ value: "x1Dominican Republic", alt:"DO どみにかきょうわこく", text: "ドミニカ共和国 / Dominican Republic" },
			{ value: "x1Ecuador", alt:"EC えくあどる", text: "エクアドル / Ecuador" },
			{ value: "x1Egypt", alt:"EG えじぷと" , text: "エジプト / Egypt" },
			{ value: "x1El Salvador", alt:"SV えるさるばどる", text: "エルサルバドル / El Salvador" },
			{ value: "x1Equatorial Guinea", alt:"GQ せきどうぎにあ", text: "赤道ギニア / Equatorial Guinea" },
			{ value: "x1Eritrea", alt:"ER えりとりあ", text: "エリトリア / Eritrea" },
			{ value: "x1Estonia", alt:"EE Eesti えすとにあ", text: "エストニア / Estonia" },
			{ value: "x1Ethiopia", alt:"ET えちおぴあ", text: "エチオピア / Ethiopia" },
			{ value: "x1Falkland Islands (Malvinas)", alt:"FK ふぉーくらんど (まるびなす) しょとう" , text: "フォークランド (マルビナス) 諸島 / Falkland Islands (Malvinas)" },
			{ value: "x1Faroe Islands", alt:"FO Føroyar Færøerne ふぇろーしょとう" , text: "フェロー諸島 / Faroe Islands" },
			{ value: "x1Fiji", alt:"FJ ふぃじー", text: "フィジー / Fiji" },
			{ value: "x1Finland", alt:"FI Suomi ふぃんらんど", text: "フィンランド / Finland" },
			{ value: "x1France", alt:"FR République française ふらんす" , text: "フランス / France" },
			{ value: "x1French Guiana", alt:"GF ふらんすりょうぎあな", text: "フランス領ギアナ / French Guiana" },
			{ value: "x1French Polynesia", alt:"PF ふらんすりょうぽりねしあ", text: "フランス領ポリネシア / French Polynesia" },
			{ value: "x1French Southern Territories", alt:"TF ふらんすりょうなんぽう・なんきょくちいき", text: "フランス領南方・南極地域 / French Southern Territories" },
			{ value: "x1Gabon", alt:"GA がぼん", text: "ガボン / Gabon" },
			{ value: "x1Gambia", alt:"GM がんびあ", text: "ガンビア / Gambia" },
			{ value: "x1Georgia", alt:"GE じょーじあ", text: "ジョージア / Georgia" },
			{ value: "x1Germany", alt:"DE Bundesrepublik Deutschland どいつ", text: "ドイツ / Germany" },
			{ value: "x1Ghana", alt:"GH がーな", text: "ガーナ / Ghana" },
			{ value: "x1Gibraltar", alt:"GI じぶらるたる" , text: "ジブラルタル / Gibraltar" },
			{ value: "x1Greece", alt:"GR ぎりしゃ" , text: "ギリシャ / Greece" },
			{ value: "x1Greenland", alt:"GL grønland ぐりーんらんど" , text: "グリーンランド / Greenland" },
			{ value: "x1Grenada", alt:"GD ぐれなだ", text: "グレナダ / Grenada" },
			{ value: "x1Guadeloupe", alt:"GP ぐあどるーぷ", text: "グアドループ / Guadeloupe" },
			{ value: "x1Guam", alt:"GU ぐあむ", text: "グアム / Guam" },
			{ value: "x1Guatemala", alt:"GT ぐあてまら", text: "グアテマラ / Guatemala" },
			{ value: "x1Guernsey", alt:"GG がーんじー" , text: "ガーンジー / Guernsey" },
			{ value: "x1Guinea", alt:"GN ぎにあ", text: "ギニア / Guinea" },
			{ value: "x1Guinea-Bissau", alt:"GW ぎにあびさう", text: "ギニアビサウ / Guinea-Bissau" },
			{ value: "x1Guyana", alt:"GY がいあな", text: "ガイアナ / Guyana" },
			{ value: "x1Haiti", alt:"HT はいち", text: "ハイチ / Haiti" },
			{ value: "x1Heard Island and McDonald Islands", alt:"HM はーどとうとまくどなるどしょとう", text: "ハード島とマクドナルド諸島 / Heard Island and McDonald Islands" },
			{ value: "x1Holy See (Vatican City State)", alt:"VA ろーまきょうこうちょう (ばちかんしこく)" , text: "ローマ教皇庁 (バチカン市国) / Holy See (Vatican City State)" },
			{ value: "x1Honduras", alt:"HN ほんじゅらす", text: "ホンジュラス / Honduras" },
			{ value: "x1Hong Kong", alt:"HK ほんこん", text: "香港 / Hong Kong" },
			{ value: "x1Hungary", alt:"HU はんがりー", text: "ハンガリー / Hungary" },
			{ value: "x1Iceland", alt:"IS Island あいすらんど", text: "アイスランド / Iceland" },
			{ value: "x1India", alt:"IN いんど", text: "インド / India" },
			{ value: "x1Indonesia", alt:"ID いんどねしあ", text: "インドネシア / Indonesia" },
			{ value: "x1Iran, Islamic Republic of", alt:"IR いらん", text: "イラン / Iran, Islamic Republic of" },
			{ value: "x1Iraq", alt:"IQ いらく", text: "イラク / Iraq" },
			{ value: "x1Ireland", alt:"IE Éire あいるらんど" , text: "アイルランド / Ireland" },
			{ value: "x1Isle of Man", alt:"IM まんとう" , text: "マン島 / Isle of Man" },
			{ value: "x1Israel", alt:"IL いすらえる", text: "イスラエル / Israel" },
			{ value: "x1Italy", alt:"IT Italia いたりあ", text: "イタリア / Italy" },
			{ value: "x1Jamaica", alt:"JM じゃまいか", text: "ジャマイカ / Jamaica" },
			{ value: "x1Japan", alt:"JP Nippon Nihon にっぽん にほん" , text: "日本 / Japan" },
			{ value: "x1Jersey", alt:"JE じゃーじー" , text: "ジャージー / Jersey" },
			{ value: "x1Jordan", alt:"JO よるだん", text: "ヨルダン / Jordan" },
			{ value: "x1Kazakhstan", alt:"KZ かざふすたん", text: "カザフスタン / Kazakhstan" },
			{ value: "x1Kenya", alt:"KE けにあ", text: "ケニア / Kenya" },
			{ value: "x1Kiribati", alt:"KI きりばす", text: "キリバス / Kiribati" },
			{ value: "x1Korea, Democratic People's Republic of", alt:"KP North Korea きたちょうせん", text: "北朝鮮 / Korea, Democratic People's Republic of" },
			{ value: "x1Korea, Republic of", alt:"KR South Korea かんこく" , text: "韓国 / Korea, Republic of" },
			{ value: "x1Kuwait", alt:"KW くうぇーと", text: "クウェート / Kuwait" },
			{ value: "x1Kyrgyzstan", alt:"KG きるぎす", text: "キルギス / Kyrgyzstan" },
			{ value: "x1Lao People's Democratic Republic", alt:"LA らおす", text: "ラオス / Lao People's Democratic Republic" },
			{ value: "x1Latvia", alt:"LV らとびあ", text: "ラトビア / Latvia" },
			{ value: "x1Lebanon", alt:"LB ればのん", text: "レバノン / Lebanon" },
			{ value: "x1Lesotho", alt:"LS れそと", text: "レソト / Lesotho" },
			{ value: "x1Liberia", alt:"LR りべりあ", text: "リベリア / Liberia" },
			{ value: "x1Libyan Arab Jamahiriya", alt:"LY りびあ", text: "リビア / Libyan Arab Jamahiriya" },
			{ value: "x1Liechtenstein", alt:"LI りひてんしゅたいん", text: "リヒテンシュタイン / Liechtenstein" },
			{ value: "x1Lithuania", alt:"LT りとあにあ", text: "リトアニア / Lithuania" },
			{ value: "x1Luxembourg", alt:"LU るくせんぶるく", text: "ルクセンブルク / Luxembourg" },
			{ value: "x1Macao", alt:"MO まかお", text: "マカオ / Macao" },
			{ value: "x1Macedonia, The Former Yugoslav Republic Of", alt:"MK きたまけどにあ", text: "北マケドニア / Macedonia, The Former Yugoslav Republic Of" },
			{ value: "x1Madagascar", alt:"MG まだがすかる", text: "マダガスカル / Madagascar" },
			{ value: "x1Malawi", alt:"MW まらうい", text: "マラウイ / Malawi" },
			{ value: "x1Malaysia", alt:"MY まれーしあ", text: "マレーシア / Malaysia" },
			{ value: "x1Maldives", alt:"MV もるじぶ もるでぃぶ モルジブ", text: "モルディブ / Maldives" },
			{ value: "x1Mali", alt:"ML まり", text: "マリ / Mali" },
			{ value: "x1Malta", alt:"MT まるた", text: "マルタ / Malta" },
			{ value: "x1Marshall Islands", alt:"MH まーしゃるしょとう" , text: "マーシャル諸島 / Marshall Islands" },
			{ value: "x1Martinique", alt:"MQ まるてぃにーく", text: "マルティニーク / Martinique" },
			{ value: "x1Mauritania", alt:"MR もーりたにあ", text: "モーリタニア / Mauritania" },
			{ value: "x1Mauritius", alt:"MU もーりしゃす", text: "モーリシャス / Mauritius" },
			{ value: "x1Mayotte", alt:"YT まよっと", text: "マヨット / Mayotte" },
			{ value: "x1Mexico", alt:"MX Mexicanos めきしこ" , text: "メキシコ / Mexico" },
			{ value: "x1Micronesia, Federated States of", alt:"FM みくろねしあれんぽう", text: "ミクロネシア連邦 / Micronesia, Federated States of" },
			{ value: "x1Moldova, Republic of", alt:"MD もるどば", text: "モルドバ / Moldova, Republic of" },
			{ value: "x1Monaco", alt:"MC もなこ", text: "モナコ / Monaco" },
			{ value: "x1Mongolia", alt:"MN もんごる", text: "モンゴル / Mongolia" },
			{ value: "x1Montenegro", alt:"ME もんてねぐろ", text: "モンテネグロ / Montenegro" },
			{ value: "x1Montserrat", alt:"MS もんとせらと" , text: "モントセラト / Montserrat" },
			{ value: "x1Morocco", alt:"MA もろっこ", text: "モロッコ / Morocco" },
			{ value: "x1Mozambique", alt:"MZ もざんびーく", text: "モザンビーク / Mozambique" },
			{ value: "x1Myanmar", alt:"MM みゃんまー", text: "ミャンマー / Myanmar" },
			{ value: "x1Namibia", alt:"NA なみびあ", text: "ナミビア / Namibia" },
			{ value: "x1Nauru", alt:"NR なうる" , text: "ナウル / Nauru" },
			{ value: "x1Nepal", alt:"NP ねぱーる", text: "ネパール / Nepal" },
			{ value: "x1Netherlands", alt:"NL Holland Nederland おらんだ" , text: "オランダ / Netherlands" },
			{ value: "x1New Caledonia", alt:"NC にゅーかれどにあ" , text: "ニューカレドニア / New Caledonia" },
			{ value: "x1New Zealand", alt:"NZ にゅーじーらんど", text: "ニュージーランド / New Zealand" },
			{ value: "x1Nicaragua", alt:"NI にからぐあ", text: "ニカラグア / Nicaragua" },
			{ value: "x1Niger", alt:"NE にじぇーる", text: "ニジェール / Niger" },
			{ value: "x1Nigeria", alt:"NG ないじぇりあ" , text: "ナイジェリア / Nigeria" },
			{ value: "x1Niue", alt:"NU にうえ" , text: "ニウエ / Niue" },
			{ value: "x1Norfolk Island", alt:"NF のーふぉーくとう" , text: "ノーフォーク島 / Norfolk Island" },
			{ value: "x1Northern Mariana Islands", alt:"MP きたまりあなしょとう" , text: "北マリアナ諸島 / Northern Mariana Islands" },
			{ value: "x1Norway", alt:"NO Norge Noreg のるうぇー" , text: "ノルウェー / Norway" },
			{ value: "x1Oman", alt:"OM おまーん", text: "オマーン / Oman" },
			{ value: "x1Pakistan", alt:"PK ぱきすたん", text: "パキスタン / Pakistan" },
			{ value: "x1Palau", alt:"PW ぱらお", text: "パラオ / Palau" },
			{ value: "x1Palestinian Territory, Occupied", alt:"PS ぱれすちなじちく", text: "パレスチナ自治区 / Palestinian Territory, Occupied" },
			{ value: "x1Panama", alt:"PA ぱなま", text: "パナマ / Panama" },
			{ value: "x1Papua New Guinea", alt:"PG ぱぷあにゅーぎにあ", text: "パプアニューギニア / Papua New Guinea" },
			{ value: "x1Paraguay", alt:"PY ぱらぐあい", text: "パラグアイ / Paraguay" },
			{ value: "x1Peru", alt:"PE ぺるー", text: "ペルー / Peru" },
			{ value: "x1Philippines", alt:"PH ふぃりぴん" , text: "フィリピン / Philippines" },
			{ value: "x1Pitcairn", alt:"PN ぴとけあんしょとう" , text: "ピトケアン諸島 / Pitcairn" },
			{ value: "x1Poland", alt:"PL ぽーらんど", text: "ポーランド / Poland" },
			{ value: "x1Portugal", alt:"PT ぽるとがる" , text: "ポルトガル / Portugal" },
			{ value: "x1Puerto Rico", alt:"PR ぷえるとりこ", text: "プエルトリコ / Puerto Rico" },
			{ value: "x1Qatar", alt:"QA かたーる", text: "カタール / Qatar" },
			{ value: "x1Réunion", alt:"RE Reunion れゆにおん", text: "レユニオン / Réunion" },
			{ value: "x1Romania", alt:"RO るーまにあ", text: "ルーマニア / Romania" },
			{ value: "x1Russian Federation", alt:"RU Russia Rossiya ろしあ" , text: "ロシア / Russian Federation" },
			{ value: "x1Rwanda", alt:"RW るわんだ", text: "ルワンダ / Rwanda" },
			{ value: "x1Saint Barthélemy", alt:"BL さん・ばるてるみーとう" , text: "サン・バルテルミー島 / Saint Barthélemy" },
			{ value: "x1Saint Helena", alt:"SH せんとへれな" , text: "セントヘレナ / Saint Helena" },
			{ value: "x1Saint Kitts and Nevis", alt:"KN せんとくりすとふぁー・ねーびす" , text: "セントクリストファー・ネービス / Saint Kitts and Nevis" },
			{ value: "x1Saint Lucia", alt:"LC せんとるしあ" , text: "セントルシア / Saint Lucia" },
			{ value: "x1Saint Martin (French Part)", alt:"MF さん・まるたん" , text: "サン・マルタン / Saint Martin (French Part)" },
			{ value: "x1Saint Pierre and Miquelon", alt:"PM さんぴえーるとう・みくろんとう" , text: "サンピエール島・ミクロン島 / Saint Pierre and Miquelon" },
			{ value: "x1Saint Vincent and the Grenadines", alt:"VC せんとびんせんとおよびぐれなでぃーんしょとう" , text: "セントビンセントおよびグレナディーン諸島 / Saint Vincent and the Grenadines" },
			{ value: "x1Samoa", alt:"WS さもあ", text: "サモア / Samoa" },
			{ value: "x1San Marino", alt:"SM さんまりの", text: "サンマリノ / San Marino" },
			{ value: "x1Sao Tome and Principe", alt:"ST さんとめ・ぷりんしぺ", text: "サントメ・プリンシペ / Sao Tome and Principe" },
			{ value: "x1Saudi Arabia", alt:"SA さうじあらびあ", text: "サウジアラビア / Saudi Arabia" },
			{ value: "x1Senegal", alt:"SN せねがる", text: "セネガル / Senegal" },
			{ value: "x1Serbia", alt:"RS せるびあ", text: "セルビア / Serbia" },
			{ value: "x1Seychelles", alt:"SC せーしぇる" , text: "セーシェル / Seychelles" },
			{ value: "x1Sierra Leone", alt:"SL しえられおね", text: "シエラレオネ / Sierra Leone" },
			{ value: "x1Singapore", alt:"SG しんがぽーる", text: "シンガポール / Singapore" },
			{ value: "x1Sint Maarten (Dutch Part)", alt:"SX しんと・まーるてん", text: "シント・マールテン / Sint Maarten (Dutch Part)" },
			{ value: "x1Slovakia", alt:"SK すろばきあ", text: "スロバキア / Slovakia" },
			{ value: "x1Slovenia", alt:"SI すろべにあ", text: "スロベニア / Slovenia" },
			{ value: "x1Solomon Islands", alt:"SB そろもんしょとう", text: "ソロモン諸島 / Solomon Islands" },
			{ value: "x1Somalia", alt:"SO そまりあ", text: "ソマリア / Somalia" },
			{ value: "x1South Africa", alt:"ZA みなみあふりか", text: "南アフリカ / South Africa" },
			{ value: "x1South Georgia and the South Sandwich Islands", alt:"GS さうすじょーじあ・さうすさんどうぃっちしょちう", text: "サウスジョージア・サウスサンドウィッチ諸島 / South Georgia and the South Sandwich Islands" },
			{ value: "x1South Sudan", alt:"SS みなみすーだん", text: "南スーダン / South Sudan" },
			{ value: "x1Spain", alt:"ES España すぺいん", text: "スペイン / Spain" },
			{ value: "x1Sri Lanka", alt:"LK すりらんか", text: "スリランカ / Sri Lanka" },
			{ value: "x1Sudan", alt:"SD すーだん", text: "スーダン / Sudan" },
			{ value: "x1Suriname", alt:"SR すりなむ", text: "スリナム / Suriname" },
			{ value: "x1Svalbard and Jan Mayen", alt:"SJ すゔぁーるばるしょとうおよびやんまいえんとう" , text: "スヴァールバル諸島およびヤンマイエン島 / Svalbard and Jan Mayen" },
			{ value: "x1Swaziland", alt:"SZ えすわてぃに", text: "エスワティニ / Swaziland" },
			{ value: "x1Sweden", alt:"SE Sverige すうぇーでん" , text: "スウェーデン / Sweden" },
			{ value: "x1Switzerland", alt:"CH Swiss Confederation Schweiz Suisse Svizzera Svizra すいす" , text: "スイス / Switzerland" },
			{ value: "x1Syrian Arab Republic", alt:"SY Syria しりあ", text: "シリア / Syrian Arab Republic" },
			{ value: "x1Taiwan, Province of China", alt:"TW たいわん", text: "台湾 / Taiwan" },
			{ value: "x1Tajikistan", alt:"TJ たじきすたん", text: "タジキスタン / Tajikistan" },
			{ value: "x1Tanzania, United Republic of", alt:"TZ たんざにあ", text: "タンザニア / Tanzania, United Republic of" },
			{ value: "x1Thailand", alt:"TH たい", text: "タイ / Thailand" },
			{ value: "x1Timor-Leste", alt:"TL ひがしてぃもーる", text: "東ティモール / Timor-Leste" },
			{ value: "x1Togo", alt:"TG とーご", text: "トーゴ / Togo" },
			{ value: "x1Tokelau", alt:"TK とけらう" , text: "トケラウ / Tokelau" },
			{ value: "x1Tonga", alt:"TO とんが", text: "トンガ / Tonga" },
			{ value: "x1Trinidad and Tobago", alt:"TT とりにだーど・どばご", text: "トリニダード・ドバゴ / Trinidad and Tobago" },
			{ value: "x1Tunisia", alt:"TN ちゅにじあ", text: "チュニジア / Tunisia" },
			{ value: "x1Turkey", alt:"TR Türkiye Turkiye とるこ", text: "トルコ / Turkey" },
			{ value: "x1Turkmenistan", alt:"TM とるくめにすたん", text: "トルクメニスタン / Turkmenistan" },
			{ value: "x1Turks and Caicos Islands", alt:"TC たーくす・かいこすしょとう" , text: "タークス・カイコス諸島 / Turks and Caicos Islands" },
			{ value: "x1Tuvalu", alt:"TV つばる" , text: "ツバル / Tuvalu" },
			{ value: "x1Uganda", alt:"UG うがんだ", text: "ウガンダ / Uganda" },
			{ value: "x1Ukraine", alt:"UA Ukrayina うくらいな", text: "ウクライナ / Ukraine" },
			{ value: "x1United Arab Emirates", alt:"AE UAE Emirates あらぶしゅちょうこくれんぽう", text: "アラブ首長国連邦 / United Arab Emirates" },
			{ value: "x1United Kingdom", alt:"GB Great Britain England UK Wales Scotland Northern Ireland いぎりす 英国" , text: "イギリス / United Kingdom" },
			{ value: "x1United States" , alt:"US USA United States of America あめりかがっしゅうこく 米国", text: "アメリカ合衆国 / United States" },
			{ value: "x1United States Minor Outlying Islands", alt:"UM がっしゅうこくりょうゆうしょうりとう", text: "合衆国領有小離島 / United States Minor Outlying Islands" },
			{ value: "x1Uruguay", alt:"UY うるぐあい", text: "ウルグアイ / Uruguay" },
			{ value: "x1Uzbekistan", alt:"UZ うずべきすたん", text: "ウズベキスタン / Uzbekistan" },
			{ value: "x1Vanuatu", alt:"VU ばぬあつ", text: "バヌアツ / Vanuatu" },
			{ value: "x1Venezuela", alt:"VE べねずえら", text: "ベネズエラ / Venezuela" },
			{ value: "x1Vietnam", alt:"VN べとなむ" , text: "ベトナム / Vietnam" },
			{ value: "x1Virgin Islands, British", alt:"VG いぎりすりょうばーじんしょとう" , text: "イギリス領ヴァージン諸島 / Virgin Islands, British" },
			{ value: "x1Virgin Islands, U.S.", alt:"VI あめりかりょうばーじんしょとう" , text: "アメリカ領ヴァージン諸島 / Virgin Islands, U.S." },
			{ value: "x1Wallis and Futuna", alt:"WF うぉりす・ふつな" , text: "ウォリス・フツナ / Wallis and Futuna" },
			{ value: "x1Western Sahara", alt:"EH にしさはら", text: "西サハラ / Western Sahara" },
			{ value: "x1Yemen", alt:"YE いえめん", text: "イエメン / Yemen" },
			{ value: "x1Zambia", alt:"ZM ざんびあ", text: "ザンビア / Zambia" },
			{ value: "x1Zimbabwe", alt:"ZW じんばぶえ", text: "ジンバブエ / Zimbabwe" }
		]
	})}}

{% endblock mainContent %}
