{% extends 'layouts/raw.html' %}

{% block pageScript %}
	<script>

		$('.filter fieldset').each(function(i, el) {
			new FilterCollapser($(el));
		});

		new FilterRequester();
		new FilterMenu();
	</script>
{% endblock pageScript %}

{% block mainContent %}


		<h1 class="filter-heading">財布</h1>
		<div class="filter-marker"></div>
		<div class="filter" aria-labelledby="filter-heading">

			<div class="filter-wrapper">

				<h2 id="filter-heading">絞り込み</h2>

				<form role="form" method="get" action="/examples/filter-form">

					{{checkboxes({
						name: 'color',
						legend: '色',
						choices: [{
							label: '赤',
							id: 'color',
							value: 'red'
						}, {
							label: '青',
							id: 'color1',
							value: 'blue'
						},  {
							label: '緑',
							id: 'color2',
							value: 'green'
						}]
					})}}

					{{radioButtons({
						name: 'rating',
						legend: '評価',
						choices: [{
							label: '4つ星以上',
							id: 'popularity0',
							value: '4'
						},  {
							label: '3つ星以上',
							id: 'popularity1',
							value: '3'
						}, {
							label: '2つ星以上',
							id: 'popularity2',
							value: '2'
						}, {
							label: '1つ星以上',
							id: 'popularity3',
							value: '1'
						}]
					})}}

					{{radioButtons({
						name: 'another',
						legend: '(別の絞り込み項目)',
						choices: [{
							label: '(項目1)',
							id: 'value0',
							value: '4'
						},  {
							label: '(項目2)',
							id: 'value1',
							value: '3'
						}, {
							label: '(項目3)',
							id: 'value2',
							value: '2'
						}, {
							label: '(項目4)',
							id: 'value3',
							value: '1'
						}]
					})}}

					{{checkboxes({
						name: 'options',
						legend: '(さらに別の絞り込み項目)',
						choices: [{
							label: '(オプション1)',
							id: 'options',
							value: '1'
						}, {
							label: '(オプション2)',
							id: 'options1',
							value: '2'
						},  {
							label: '(オプション3)',
							id: 'options2',
							value: '3'
						}]
					})}}

					{{primaryButton({
						text: '絞り込む',
						name: 'apply'
					})}}
				</form>
			</div>
		</div>
		<div class="products">
			{% include "partials/products.html" %}
		</div>

{% endblock mainContent %}

{% block header %}
	<header style="clear: both;height: 70px; background: #f5f5f5">
	</header>
{% endblock header %}

{% block footer %}
	<footer style="clear: both;height: 70px; background: #aaa">
	</footer>
{% endblock footer %}
