{% extends 'layouts/raw.html' %}

{% block pageScript %}
	<script>
		new Menu($('.menu'), '(min-width: 45em)');
		new SelectAll($('.selectAll'), $('.inbox [type=checkbox]'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{h1({text: '受信トレイ'})}}

	<form>
		<div class="selectAll"></div>
		<div class="menu">
			<div class="menu-wrapper">
				<input class="menu-item" type="submit" name="archive" value="アーカイブ">
				<input class="menu-item" type="submit" name="delete" value="削除">
				<input class="menu-item" type="submit" name="spam" value="迷惑メールとしてマーク">
			</div>
		</div>

		<ul class="inbox">
			<li>
			  <input type="checkbox" name="email" id="email1">
			  <label for="email1" class="visually-hidden">差出人：Amazon.co.uk、件名：Amazon.co.uk ご注文番号 #123 の発送（2019年8月10日）</label>
			  <a href="/emails/1/">
			    <div class="inbox-recipient">Amazon.co.uk</div>
			    <div class="inbox-subject">ご注文番号 #123 の発送</div>
			    <div class="inbox-date">2019/08/10</div>
			  </a>
			</li>
			<li>
			  <input type="checkbox" name="email" id="email2">
			  <label for="email2" class="visually-hidden">差出人：ヘイドン・ピカリング、件名：書籍レビューの件（2019年8月9日）</label>
			  <a href="/emails/2/">
			    <div class="inbox-recipient">ヘイドン・ピカリング</div>
			    <div class="inbox-subject">書籍レビューの件</div>
			    <div class="inbox-date">2019/08/09</div>
			  </a>
			</li>
			<li>
			  <input type="checkbox" name="email" id="email3">
			  <label for="email3" class="visually-hidden">差出人：デビッド・スミス、件名：プロモーションのオファーの件（2019年8月7日）</label>
			  <a href="/emails/3/">
			    <div class="inbox-recipient">デビッド・スミス</div>
			    <div class="inbox-subject">プロモーションのオファーの件</div>
			    <div class="inbox-date">2019/08/07</div>
			  </a>
			</li>
		</ul>
	</form>
{% endblock mainContent %}
