{% extends 'layouts/raw.html' %}

{% block pageScript %}
	<script>
		var validator = new FormValidator(document.forms[0]);
		validator.addValidator('email', [{
		 	method: function(field) {
		    	return field.value.trim().length > 0;
			},
			message: 'メールアドレスを入力してください。'
		},{
			method: function(field) {
		    	return (field.value.indexOf('@') > -1);
		  	},
			message: 'メールアドレスには@マークが必要です。'
		}]);
		validator.addValidator('password', [{
			method: function(field) {
		    	return field.value.trim().length > 0;
			},
			message: 'パスワードを入力してください。'
		}, {
			method: function(field) {
		    	return field.value.length > 8;
			},
			message: 'パスワードには8文字以上が必要です。'
		}, {
			method: function(field) {
		    return /\d/.test(field.value);
			},
			message: 'パスワードには1文字以上の数字が必要です。'
		}]);

		new PasswordRevealer(document.getElementById('password'));

	</script>
{% endblock pageScript %}

{% block mainContent %}


	{{errorSummary({ heading: "There's a problem" })}}
	{{h1({ text: 'ログイン' })}}
	<div class="prose">
		<ul>
				<li>アカウントをお持ちでない方 : <a href="/examples/registration-form">登録</a></li>
				<li>パスワードをお忘れの方 : <a href="#">パスワードのリセット</a></li>
			</ul>
	</div>



	<form novalidate>
		{{textBox({
			name: 'email',
			label: 'メールアドレス',
			attributes: ' autocapitalize="none" autocorrect="off" spellcheck="false"
		'})}}

		{{textBox({
			name: 'password',
			label: 'パスワード',
			type: 'password',
			hint: '数字を1文字以上含めて、8文字以上で入力してください。'
		})}}

		{{primaryButton({
			text: 'ログイン',
			name: 'login'
		})}}
	</form>


{% endblock mainContent %}
