{% extends 'layouts/raw.html' %}
{% set cnav = "payment" %}

{% block pageScript %}
	<script>
		var validator = new FormValidator(document.forms[0]);
		var collapser = new CheckboxCollapser($('#same'), $('.billingAddress'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{h1({text: 'お支払い'})}}

	<form novalidate>
		{{textBox({
			name: 'cardnumber',
			label: 'カード番号',
			hint: 'カード表面にある14桁から16桁の番号'
		})}}
		{{textBox({
			name: 'expiry',
			label: '有効期限',
			hint: 'MMYY (月2桁と年2桁を続けて入力)'
		})}}
		{{textBox({
			name: 'cvc',
			label: 'セキュリティコード',
			hint: 'カード裏面にある下3桁の番号'
		})}}

		{{checkboxes({
			name: 'same',
			legend: '請求先住所',
			choices: [{
				label: '請求先の住所は配送先と同じ',
				id: 'same',
				checked: true
			}]
		})}}

		<div class="billingAddress">
			{{textBox({
				name: 'address1',
				label: 'Street'
			})}}
			{{textBox({
				name: 'address2',
				label: 'Town'
			})}}
			{{textBox({
				name: 'postcode',
				label: 'Postcode'
			})}}
		</div>

		{{primaryButton({
			text: '続ける',
			name: 'pay'
		})}}
	</form>

{% endblock mainContent %}
